<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGL.My.MySettings.MANUKA_PRODConnectionString" connectionString="Data Source=MNK-OSO-DB03;Initial Catalog=MANUKA_PROD;Persist Security Info=True;User ID=SSRS_User"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup>
	<system.serviceModel>
        <bindings>
               <basicHttpBinding>
                      <binding name="getPDF64Soap" maxReceivedMessageSize="2147483647">
                             <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                      </binding>
                      <binding name="getPDF64Soap1" maxReceivedMessageSize="2147483647">
                             <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                      </binding>
                      <binding name="getPDF64Soap2"/>
               </basicHttpBinding>
        </bindings>
        <client>
               <endpoint address="http://srvmnkdev/wssCustomerETDPDF/getPDF64.asmx" binding="basicHttpBinding" bindingConfiguration="getPDF64Soap" contract="wsTESTgetPDF64.getPDF64Soap" name="getPDF64Soap"/>
               <endpoint address="http://srverpsql/wssCustomerETDPDF/getPDF64.asmx" binding="basicHttpBinding" bindingConfiguration="getPDF64Soap1" contract="wsPRODgetPDF64.getPDF64Soap" name="getPDF64Soap1"/>
               <endpoint address="http://mnk-oso-qa/wssCustomerETDPDF/getPDF64.asmx" binding="basicHttpBinding" bindingConfiguration="getPDF64Soap2" contract="wsQAgetPDF64.getPDF64Soap" name="getPDF64Soap2"/>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
